@model List<allpax_service_record.Models.View_Models.vm_dailyReportByReportID>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .container {
            border: 2px solid black;
        }
    </style>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {//begin document read jquery statements

            @*var subJobID = @Model.First().jobID;*@
        @*var test = @Model.First().date;*@
            @*alert(@Model.First().date)*@

            //alert($("#slct_date").html())

            //var d = '12/12/1955 12:00:00 AM';
            //test = test.split(' ')[0];
            //console.log(test);
            //console.log(subJobID)

            @*@{  var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
         var json = serializer.Serialize(Model);
            }

            var model = @Html.Raw(json);
            console.log(model)
            console.log(model[1])*@

            @*alert("record count is: " +@Model.Count)*@
            //alert("sub job id: " +subJobID)

            //alert("yo")

            @*alert("record count is: " +@Model.First().date)*@
        @*alert("record count is: " +@Model.First().jobID)*@
            @*alert("record count is: " +@Model.First().date)*@
            console.log(test)

        });//end document read jquery statements
    </script>
</head>
<br />
<hr />
<form>
    <div class=" container" style="margin:5px">
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Daily Log Information</strong>
            </div>
            <div class="col-3" style="padding:5px">
                <div>
                    <span><strong>Record No</strong></span>
                    <span id="txt_dailyReportID" value="@Model.First().dailyReportID">@Model.First().dailyReportID</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="md-col-2" style="padding:5px">
                <strong>Job:</strong>
            </div>
            <div class="md-col-2" style="padding:5px">
                <select name="jobs_dpdown" id="jobs_dpdown" style="width:100%" value="">
                    <option value="@Model.First().jobID">@Model.First().jobID</option>
                </select>
                <input type="text" id="input_jobs_dpdown" name="" style="width:100%" hidden>
            </div>
            <div class="md-col-5" style="padding:5px"></div>
            <div class="md-col-1" style="padding:5px">
                <strong>Date:</strong>
            </div>
            <div class="md-col-2" style="padding:5px">
                <input type="date" class="form-control form-control-sm" id="slct_date"
                       placeholder="@Model.First().date" value=@Model.First().date>@Model.First().date
                </div>

        </div>
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Customer:</strong>:
            </div>
            <div class="col-7" style="padding:5px" id="output_customerName">@Model.First().customerName</div>
            <div class="col-1" style="padding:5px">
                <strong>Sub Job:</strong>
            </div>
            <div class="col-2" style="padding:5px">
                <select name="subJobTypes_dpdwn" id="subJobTypes_dpdwn" style="width:100%" value="">
                    <option value="@Model.First().description">@Model.First().description</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Location:</strong>
            </div>
            <div class="col-7" style="padding:5px" id="output_location">@Model.First().address</div>
            <div class="col-1" style="padding:5px">
                <strong>Code:</strong>
            </div>
            <div class="col-2" style="padding:5px" id="output_customerCode"></div>
        </div>
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Customer Contact:</strong>
            </div>
            <div class="col-10" style="padding:5px" id="output_customerContact">@Model.First().customerContact</div>
        </div>
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Equipment:</strong>
            </div>
            <div class="col-10" style="padding:5px">
                <input type="text" value="@Model.First().equipment" id="input_equipment" name="" style="width:100%">
            </div>
        </div>        
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Start Time:</strong>
            </div>
            <div class="col-2" style="padding:5px">
                <input type="time" class="form-control form-control-sm" id="input_startTime" placeholder="" value="@Model.First().startTime">
            </div>
            <div class="col-2" style="padding:5px">
                <strong>End Time:</strong>
            </div>
            <div class="col-2" style="padding:5px">
                <input type="time" class="form-control form-control-sm" id="input_endTime" placeholder="" value="@Model.First().endTime">
            </div>
            <div class="col-2" style="padding:5px">
                <strong>Lunch (hr)</strong>
            </div>
            <div class="col-1" style="padding:5px">
                <input type="text" class="form-control form-control-sm" id="input_lunch" value="@Model.First().lunchHours">
            </div>
            <div class="col-1" style="padding:5px">
            </div>
        </div>
    </div>

    <!--allpax team-->
    <div class="container pl-auto" style="margin:5px" id="contnr_team" hidden>
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Allpax Team:</strong>
            </div>
            <div class="col-9" style="padding:5px">
                <div class="row" style="margin:0px;">
                    <select name="team_dpdwn" id="team_dpdwn" style="width:100%">
                    </select>
                </div>

                <div class="row" style="margin:0px;" name="txt_teamMembers" id="txt_teamMembers">
                    <div class="col-3" id="teamMember_template" style="padding:5px; border:solid black 1px">
                        Johnny Watkins|JW
                        @*<button type="button" class="btn btn-sm btn-primary" id="btn_delete_temp_userName">Delete</button>*@
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-sm btn-primary" id="btn_delete_temp_userName">Delete</button>
                    </div>
                    <div class="col-3" id="teamMember_template" style="padding:5px; border:solid black 1px">
                        Warren Wood|WW
                        @*<button type="button" class="btn btn-sm btn-primary" id="btn_delete_temp_userName">Delete</button>*@
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-sm btn-primary" id="btn_delete_temp_userName">Delete</button>
                    </div>
                    <div class="col-3" id="teamMember_template" style="padding:5px; border:solid black 1px">
                        John Holmestead|JH
                        @*<button type="button" class="btn btn-sm btn-primary" id="btn_delete_temp_userName">Delete</button>*@
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-sm btn-primary" id="btn_delete_temp_userName">Delete</button>
                    </div>
                    <div class="col-3" id="teamMember_template" style="padding:5px; border:solid black 1px">
                        Perr Wills|PW
                        @*<button type="button" class="btn btn-sm btn-primary" id="btn_delete_temp_userName">Delete</button>*@
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-sm btn-primary" id="btn_delete_temp_userName">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--allpax team-->

    <div class=" container pl-auto" style="margin:5px" id="contnr_workDescription" hidden>
        <div class="row">
            <div class="col-10" style="padding:5px">
                <strong>Work Description</strong>
            </div>
            <div class="col-2" style="padding:5px">Team</div>
        </div>
        <div class="row">
            <div class="col-10" style="padding:5px">
                <input type="text" value="Water recovery system....." id="input_workDesc" name="" style="width:100%">
            </div>
            <div class="col-2" style="padding:5px">
                <select name="" id="slct_team2" style="width:100%">
                    <option value="">All</option>
                </select>
            </div>
        </div>
    </div>

    <div class=" container pl-auto" style="margin:5px" id="contnr_delays" hidden>
        <div class="row">
            <div class="col-10" style="padding:5px">
                <strong>Delays</strong>
            </div>
            <div class="col-2" style="padding:5px">Team</div>
        </div>
        <div class="row">
            <div class="col-10" style="padding:5px">
                <input type="text" value="Water recovery system....." id="" name="" style="width:100%">
            </div>
            <div class="col-2" style="padding:5px">
                <select name="" id="" style="width:100%">
                    <option value="">All</option>
                </select>
            </div>
        </div>
    </div>

    <div class=" container pl-auto" style="margin:5px" id="contnr_warrantyDelays" hidden>
        <div class="row">
            <div class="col-10" style="padding:5px">
                <strong>Warranty Delays</strong>
            </div>
            <div class="col-2" style="padding:5px">Team</div>
        </div>
        <div class="row">
            <div class="col-10" style="padding:5px">
                <input type="text" value="Water recovery system....." id="" name="" style="width:100%">
            </div>
            <div class="col-2" style="padding:5px">
                <select name="" id="" style="width:100%">
                    <option value="">All</option>
                </select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-sm" id="addButton" style="background-color: royalblue" disabled>Save Record</button>
</form>

<div class="container-fluid">
    <div class="col-md-12" style="border:none">
        <table id="datatable_current_eqpmt_kits" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="th-sm">
                        Report ID
                    </th>
                    <th class="th-sm">
                        Active
                    </th>
                    <th class="th-sm">
                        Date
                    </th>
                    <th class="th-sm">
                        Job
                    </th>
                    <th class="th-sm">
                        Sub Job
                    </th>
                    <th class="th-sm">
                        Customer
                    </th>
                    <th class="th-sm">
                        Location
                    </th>
                    <th class="th-sm">
                        Team
                    </th>
                    <th class="th-sm">
                        Work Description
                    </th>
                    <th class="th-sm">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="record" id=@Html.DisplayFor(modelItem => item.dailyReportID)>
                        <td id="record_item0" value=@Html.DisplayFor(modelItem => item.dailyReportID)>@Html.DisplayFor(modelItem => item.dailyReportID)</td>
                        <td id="record_item1" value=@Html.DisplayFor(modelItem => item.active)>@Html.DisplayFor(modelItem => item.active)</td>
                        <td id="record_item2" value=@Html.DisplayFor(modelItem => item.date)>@Html.DisplayFor(modelItem => item.date)</td>
                        <td id="record_item3" value=@Html.DisplayFor(modelItem => item.jobID)>@Html.DisplayFor(modelItem => item.jobID)</td>
                        <td id="record_item4" value=@Html.DisplayFor(modelItem => item.description)>@Html.DisplayFor(modelItem => item.description)</td>
                        <td id="record_item5" value=@Html.DisplayFor(modelItem => item.customerName)>@Html.DisplayFor(modelItem => item.customerName)</td>
                        <td id="record_item6" value=@Html.DisplayFor(modelItem => item.address)>@Html.DisplayFor(modelItem => item.address)</td>
                        <td id="record_item7" value=>TEAM</td>
                        <td id="record_item8" value=>WORK DESCRIPTION</td>
                        <td>
                            <button class="btn btn-primary btn-sm editButton" style=" background-color: royalblue">Edit</button>
                            @*<button class="btn btn-primary btn-sm updateButton" style="display:none;">Update</button>*@
                            <button class="btn btn-primary btn-sm deleteButton" style=" background-color: royalblue">Delete</button>
                            <button class="btn btn-primary btn-sm confirmButton" style="display:none;">Confirm</button>
                            <button class="btn btn-primary btn-sm cancelButton" style="display:none;">Cancel</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


