@model List<allpax_service_record.Models.View_Models.vm_dailyReportByReportID>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .container {
            border: 2px solid black;
        }
    </style>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {//begin document read jquery statements

            //begin fill the team names dropdown
            var team_dpdwn = $('#team_dpdwn');
            var dailyReportID = $("#txt_dailyReportID").html();


            $.ajax({
                url: 'DataService.asmx/GetAllTeamNames',
                method: 'post',
                dataType: 'json',
                data: { userName: '%' },
                success: function (data) {

                    team_dpdwn.append($('<option/>', { value: -1, text: 'Add Team Member' }));

                    $(data).each(function (index, item) {
                        team_dpdwn.append($('<option/>', { value: item.userName, text: item.name + "-" + item.shortName }));
                    });
                }
            });
            //end fill the sub job dropdown

            //begin
            team_dpdwn.change(function () {

                //alert($(this).val())

                //alert($('#team_dpdwn').val())

                //begin
                var team_dpdwn = $('#team_dpdwn');


                $.ajax({
                    url: 'DataService.asmx/GetAllTeamNames',
                    method: 'post',
                    dataType: 'json',
                    data: { userName: $(this).val() },
                    success: function (data) {

                        //alert($('#team_dpdwn').val())
                        //team_dpdwn.append($('<option/>', { value: -1, text: 'Add Team Member' }));

                        $(data).each(function (index, item) {
                            //team_dpdwn.append($('<option/>', { value: item.userName, text: item.name + "-" + item.shortName }));
                            //alert(item.userName)
                            //alert(item.name)
                            //alert(item.shortName)
                            var temp_userName;
                            var temp_name;
                            var temp_shortName;

                            temp_userName = item.userName;
                            temp_name = item.name;
                            temp_shortName = item.shortName;

                            $("#team_").clone(true).prop("id", "team_" + temp_userName.toString()).appendTo("#txt_teamMembers");
                            //$("#team_" + temp_userName.toString()).prop("class", "teamMember")

                            $("#team_" + temp_userName.toString()).text(temp_name + "| " + temp_shortName.toString());

                            //$("#btn_delete_temp_userName").clone().prop("id", "btn_delete_temp_" + temp_userName.toString()).appendTo("#user_" + temp_userName.toString());

                            $("#team_" + temp_userName.toString()).removeAttr('hidden');//unhide the copy

                            console.log(temp_userName)
                            console.log(dailyReportID)
                        });
                    }
                });

                //$("#tabTemplate").clone().prop("id", "tab_" + tempJobNo.toString()).appendTo("#jobNoTabs");

                //$("#tab_" + tempJobNo.toString()).removeAttr('hidden');//unhide the copy
            });
            //end

            //begin when a team member class is clicked...
            $(".team_").on('click', function () {
                //alert('yo')              

                //alert($("#slctd_reportID").val())
                //alert($(this).attr("id"))
                //alert("this will remove item with id: " + $(this).attr("id"))

                //alert("#" + $(this).attr("id"))
                $("#" + $(this).attr("id")).remove();

            });
            //end when a record class is clicked...

            //begin teamSaveButton click
            $("#teamSaveButton").click(function () {//when the add button is clicked...

                var teamMembersArray = [];
                $('.team_').each(function () {
                    //var tempTeamMemberUserID
                    var tempTeamMemberUserID = this.id.substr(5);
                    //console.log(tempTeamMemberUserID.length)

                    if (tempTeamMemberUserID.length > 0) {
                        teamMembersArray.push(tempTeamMemberUserID);
                        console.log(tempTeamMemberUserID)
                    }                                       
                });

                console.log(teamMembersArray)
               
            });
            //end teamSaveButton click

        });//end document read jquery statements
    </script>
</head>
<br />
<hr />
<form>
    <div class=" container" style="margin:5px">
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Daily Log Information</strong>
            </div>
            <div class="col-3" style="padding:5px">
                <div>
                    <span><strong>Record No</strong></span>
                    <span id="txt_dailyReportID" value="@Model.First().dailyReportID">@Model.First().dailyReportID</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="md-col-2" style="padding:5px">
                <strong>Job:</strong>
            </div>
            <div class="md-col-2" style="padding:5px">
                <select name="jobs_dpdown" id="jobs_dpdown" style="width:100%" value="">
                    <option value="@Model.First().jobID">@Model.First().jobID</option>
                </select>
                <input type="text" id="input_jobs_dpdown" name="" style="width:100%" hidden>
            </div>
            <div class="md-col-5" style="padding:5px"></div>
            <div class="md-col-1" style="padding:5px">
                <strong>Date:</strong>
            </div>
            <div class="md-col-2" style="padding:5px">
                <input type="date" class="form-control form-control-sm" id="slct_date"
                       placeholder="@Model.First().date" value=@Model.First().date>@Model.First().date
                </div>

        </div>
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Customer:</strong>:
            </div>
            <div class="col-7" style="padding:5px" id="output_customerName">@Model.First().customerName</div>
            <div class="col-1" style="padding:5px">
                <strong>Sub Job:</strong>
            </div>
            <div class="col-2" style="padding:5px">
                <select name="subJobTypes_dpdwn" id="subJobTypes_dpdwn" style="width:100%" value="">
                    <option value="@Model.First().description">@Model.First().description</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Location:</strong>
            </div>
            <div class="col-7" style="padding:5px" id="output_location">@Model.First().address</div>
            <div class="col-1" style="padding:5px">
                <strong>Code:</strong>
            </div>
            <div class="col-2" style="padding:5px" id="output_customerCode">@Model.First().customerCode</div>
        </div>
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Customer Contact:</strong>
            </div>
            <div class="col-10" style="padding:5px" id="output_customerContact">@Model.First().customerContact</div>
        </div>
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Equipment:</strong>
            </div>
            <div class="col-10" style="padding:5px">
                <input type="text" value="@Model.First().equipment" id="input_equipment" name="" style="width:100%">
            </div>
        </div>        
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Start Time:</strong>
            </div>
            <div class="col-2" style="padding:5px">
                <input type="time" class="form-control form-control-sm" id="input_startTime" placeholder="" value="@Model.First().startTime">
            </div>
            <div class="col-2" style="padding:5px">
                <strong>End Time:</strong>
            </div>
            <div class="col-2" style="padding:5px">
                <input type="time" class="form-control form-control-sm" id="input_endTime" placeholder="" value="@Model.First().endTime">
            </div>
            <div class="col-2" style="padding:5px">
                <strong>Lunch (hr)</strong>
            </div>
            <div class="col-1" style="padding:5px">
                <input type="text" class="form-control form-control-sm" id="input_lunch" value="@Model.First().lunchHours">
            </div>
            <div class="col-1" style="padding:5px">
            </div>
        </div>
    </div>

    <!--allpax team-->
    <div class="container pl-auto" style="margin:5px" id="contnr_team">
        <div class="row">
            <div class="col-2" style="padding:5px">
                <strong>Allpax Team:</strong>
            </div>
            <div class="col-8" style="padding:5px">
                <div class="row" style="margin:0px;">
                    <select name="team_dpdwn" id="team_dpdwn" style="width:100%">
                    </select>
                </div>

                <div class="row" style="margin:0px;" name="txt_teamMembers" id="txt_teamMembers">
                    <div class="team_" id="team_" style="padding:5px; border:solid black 1px" hidden>
                        Johnny Watkins|JW
                        @*<button type="button" class="btn btn-sm btn-primary" id="btn_delete_temp_userName">Delete</button>*@
                    </div>
                    @*<div class="col-1">
                    <button type="button" class="btn btn-sm btn-primary" id="btn_delete_temp_userName">Delete</button>
                </div>*@
                </div>
            </div>
            <div class="col-2" style="padding:5px">
                <button type="button" class="btn btn-sm btn-primary" id="teamSaveButton">SAVE TEAM</button>
            </div>
        </div>
    </div>
    <!--allpax team-->

    <div class=" container pl-auto" style="margin:5px" id="contnr_workDescription" hidden>
        <div class="row">
            <div class="col-10" style="padding:5px">
                <strong>Work Description</strong>
            </div>
            <div class="col-2" style="padding:5px">Team</div>
        </div>
        <div class="row">
            <div class="col-10" style="padding:5px">
                <input type="text" value="Water recovery system....." id="input_workDesc" name="" style="width:100%">
            </div>
            <div class="col-2" style="padding:5px">
                <select name="" id="slct_team2" style="width:100%">
                    <option value="">All</option>
                </select>
            </div>
        </div>
    </div>

    <div class=" container pl-auto" style="margin:5px" id="contnr_delays" hidden>
        <div class="row">
            <div class="col-10" style="padding:5px">
                <strong>Delays</strong>
            </div>
            <div class="col-2" style="padding:5px">Team</div>
        </div>
        <div class="row">
            <div class="col-10" style="padding:5px">
                <input type="text" value="Water recovery system....." id="" name="" style="width:100%">
            </div>
            <div class="col-2" style="padding:5px">
                <select name="" id="" style="width:100%">
                    <option value="">All</option>
                </select>
            </div>
        </div>
    </div>

    <div class=" container pl-auto" style="margin:5px" id="contnr_warrantyDelays" hidden>
        <div class="row">
            <div class="col-10" style="padding:5px">
                <strong>Warranty Delays</strong>
            </div>
            <div class="col-2" style="padding:5px">Team</div>
        </div>
        <div class="row">
            <div class="col-10" style="padding:5px">
                <input type="text" value="Water recovery system....." id="" name="" style="width:100%">
            </div>
            <div class="col-2" style="padding:5px">
                <select name="" id="" style="width:100%">
                    <option value="">All</option>
                </select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-sm" id="addButton" style="background-color: royalblue" disabled>Save Record</button>
</form>



