@model IEnumerable<allpax_service_record.Models.View_Models.vm_dailyReportViewAll>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .container {
            border: 2px solid black;
        }
    </style>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {//begin document read jquery statements

            //var queries = {};
            //var dailyReportID = '';

            //$.each(document.location.search.substr(1).split('&'), function (c, q) {
            //    var i = q.split('=');
            //    queries[i[0].toString()] = i[1].toString();
            //    dailyReportID = queries[i[0].toString()];
            //});
            //alert(dailyReportID)

            //alert($(".recordNo").html())
            //alert($("#subJobTypes_dpdwn").val())

            //begin fill the jobs dropdown
            var jobs_dpdown = $('#jobs_dpdown');
            var subJobTypes_dpdwn = $('#subJobTypes_dpdwn');

            $.ajax({
                url: 'DataService.asmx/GetAllJobNos',
                method: 'post',
                dataType: 'json',
                success: function (data) {

                    jobs_dpdown.append($('<option/>', { value: -1, text: 'Select Job' }));

                    $(data).each(function (index, item) {
                        jobs_dpdown.append($('<option/>', { value: item.jobID, text: item.jobID }));
                    });
                }
            });
            //end fill the jobs dropdown

            //begin jobs id dropdown change
            jobs_dpdown.change(function () {
                $.ajax({
                    url: 'DataService.asmx/GetCustomerInfoByJobID',
                    method: 'post',
                    dataType: 'json',
                    data: { jobID: jobs_dpdown.val() },
                    success: function (data) {
                        //console.log(data.customerCode);
                        //console.log(jobs_dpdown.val());

                        $(data).each(function (index, item) {
                            //console.log(item.customerCode);
                            //console.log(item.customerName);
                            //console.log(item.address);
                            $("#output_customerName").html(item.customerName.toString());
                            $("#output_location").html(item.address.toString());
                            $("#output_customerCode").html(item.customerCode.toString());
                            $("#output_customerContact").html(item.customerContact.toString());
                        });
                    }
                });

                //begin fill the team names dropdown
                var subJobTypes_dpdwn = $('#subJobTypes_dpdwn');
                $('#subJobTypes_dpdwn').empty();//clear the dropdown
                //$('#input_jobs_dpdown').val('1');//clear the dropdown
                //alert($('#input_jobs_dpdown').val())

                $.ajax({
                    url: 'DataService.asmx/GetSubJobTypesByJobID',
                    method: 'post',
                    dataType: 'json',
                    data: { jobID: jobs_dpdown.val() },
                    success: function (data) {

                        subJobTypes_dpdwn.append($('<option/>', { value: '', text: 'Select a Job Sub-Type' }));

                        $(data).each(function (index, item) {
                            subJobTypes_dpdwn.append($('<option/>', { value: item.subJobID, text: item.description }));

                            //console.log(item.subJobID);
                        });
                    }
                });
                //end fill sub jobs dropdown

            });
            //end jobs id dropdown change

            //begin fill the team names dropdown
            var team_dpdwn = $('#team_dpdwn');

            $.ajax({
                url: 'DataService.asmx/GetAllTeamNames',
                method: 'post',
                dataType: 'json',
                data: { userName: '%' },
                success: function (data) {

                    team_dpdwn.append($('<option/>', { value: -1, text: 'Add Team Member' }));

                    $(data).each(function (index, item) {
                        team_dpdwn.append($('<option/>', { value: item.userName, text: item.name + "-" + item.shortName }));
                    });
                }
            });
            //end fill the sub job dropdown

            //begin #addButton
            $("#addButton").click(function () {//when the add button is clicked...

                //window.location = '/home';

                var addItem1 = $("#jobs_dpdown").val();
                var addItem2 = $("#slct_date").val();
                var addItem3 = $("#subJobTypes_dpdwn").val();
                var addItem4 = $("#input_startTime").val();
                var addItem5 = $("#input_endTime").val();
                var addItem6 = $("#input_lunch").val();
                var addItem7 = $("#input_equipment").val();

                //console.log(addItem3);

                alert(
                    "Selected for Add POST:" + '\n' +
                    "addItem1: " + addItem1 + '\n' +
                    "addItem2: " + addItem2 + '\n' +
                    "addItem3: " + addItem3 + '\n' +
                    "addItem4: " + addItem4 + '\n' +
                    "addItem5: " + addItem5 + '\n' +
                    "addItem6: " + addItem6 + '\n' +
                    "addItem7: " + addItem7 + '\n'
                );
                $("#addRecordItem1").val('');
                $("#addRecordItem2").val('');
                $("#addRecordItem3").val(''); //need to pull in subJobIds
                $("#addRecordItem4").val('');
                $("#addRecordItem5").val('');
                $("#addRecordItem6").val('');
                $("#addRecordItem7").val('');

                //begin axios add post
                axios.post('/dailyReport/AddDailyReport', {
                    jobID: addItem1,
                    date: addItem2,
                    subJobID: addItem3,
                    startTime: addItem4,
                    endTime: addItem5,
                    lunchHours: addItem6,
                    equipment: addItem7
                    //dailyReportID: '6'
                })
                    .then(function (response) {
                        //console.log(response);
                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                //window.location = '/home';
                //end axios add post

                //$('#contnr_team').removeAttr('hidden');
                //$('#contnr_workDescription').removeAttr('hidden');
                //$('#contnr_delays').removeAttr('hidden');
                //$('#contnr_warrantyDelays').removeAttr('hidden');

                

            });
            //end #addButton
                              
        });//end document read jquery statements
    </script>
</head>
<br />
<hr />

<div class="container-fluid">
    <div class="col-md-12" style="border:none">
        <table id="datatable_current_eqpmt_kits" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="th-sm">
                        Report ID
                    </th>
                    <th class="th-sm">
                        Active
                    </th>
                    <th class="th-sm">
                        Date
                    </th>
                    <th class="th-sm">
                        Job
                    </th>
                    <th class="th-sm">
                        Sub Job
                    </th>
                    <th class="th-sm">
                        Customer
                    </th>
                    <th class="th-sm">
                        Location
                    </th>
                    <th class="th-sm">
                        Team
                    </th>
                    <th class="th-sm">
                        Work Description
                    </th>
                    <th class="th-sm">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="record" id=@Html.DisplayFor(modelItem => item.jobID)>
                    <td id="record_item0" value=@Html.DisplayFor(modelItem => item.dailyReportID)>@Html.DisplayFor(modelItem => item.dailyReportID)</td>
                    <td id="record_item1" value=@Html.DisplayFor(modelItem => item.active)>@Html.DisplayFor(modelItem => item.active)</td>
                    <td id="record_item2" value=@Html.DisplayFor(modelItem => item.date)>@Html.DisplayFor(modelItem => item.date)</td>
                    <td id="record_item3" value=@Html.DisplayFor(modelItem => item.jobID)>@Html.DisplayFor(modelItem => item.jobID)</td>
                    <td id="record_item4" value=@Html.DisplayFor(modelItem => item.description)>@Html.DisplayFor(modelItem => item.description)</td>
                    <td id="record_item5" value=@Html.DisplayFor(modelItem => item.customerName)>@Html.DisplayFor(modelItem => item.customerName)</td>
                    <td id="record_item6" value=@Html.DisplayFor(modelItem => item.location)>@Html.DisplayFor(modelItem => item.location)</td>
                    <td id="record_item7" value=>TEAM</td>
                    <td id="record_item8" value=>WORK DESCRIPTION</td>
                    <td>
                        <button class="btn btn-primary btn-sm editButton" style=" background-color: royalblue">Edit</button>
                        <button class="btn btn-primary btn-sm updateButton" style="display:none;">Update</button>
                        <button class="btn btn-primary btn-sm deleteButton" style=" background-color: royalblue">Delete</button>
                        <button class="btn btn-primary btn-sm confirmButton" style="display:none;">Confirm</button>
                        <button class="btn btn-primary btn-sm cancelButton" style="display:none;">Cancel</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
        <!--table end-->


