@model allpax_service_record.Models.tbl_dailyReportTimeEntry

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_dailyReportTimeEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_dailyReport.jobID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_dailyReport.jobID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.workDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.workDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.timeEntryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
